NODE_ENV=development
APP_PORT=3005
MONGODB_URI=mongodb://localhost:27017/smartbettors
SM_API_BASE_URL=https://sm-api.smartbettors.xyz
FIXTURES_BATCH_SIZE=25
FIXTURES_WINDOW_HOURS=24
TARGET_BOOKMAKER_NAME=Pinnacle
LOG_LEVEL=debug
